{
	"semi": false,
	"useTabs": true,
	"singleQuote": true,
	"arrowParens": "avoid",
	"trailingComma": "none",
	"importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"],
	"importOrderSortSpecifiers": true,
	"importOrderSeparation": true
}
